<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href='http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/style/reset.css" />
        <link rel="stylesheet" href="/static/style/style.css" />
        <link rel="stylesheet" href="/static/style/pygments.css" />
        <title>{% if page.title %} {{ page.title }} | {% endif %}Yet Another Blog</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.timeago.js"></script>
        <script src="/static/js/script.js"></script>
    </head>

    <body>
        <div id="content-wrapper">
            <h1 id="header"><a href="/">Yet Another Blog</a></h1>

            <div class="line"></div>

            <ul id="nav">
                <li><a href="/">Главная</a></li>
                <li><a href="/about/">О сайте</a></li>
                <li><a href="/contacts/">Контакты</a></li>
                <li><a class="rss" href="/atom.xml">Atom-лента</a></li>
                <li><a class="rss" href="/rss.xml">RSS-лента</a></li>
                <li class="helper"></li>
            </ul>

            <div class="line"></div>
            
            <div id="content">
                {{ content }}
            </div>
        </div>

        <div id="footer-wrapper">
            <div class="line"></div>
            
            <div id="footer">
                <ul id="contacts">
                    <li><a href="http://twitter.com/ilyahohryakov">Twitter</a></li>
                    <li><a href="http://vk.com/ilyahohryakov">VK</a></li>
                    <li><a href="http://github.com/awo1f">Github</a></li>
                    <li><a href="http://habrahabr.ru/users/awolf">Habrahabr</a></li>
                    <li><a href="http://last.fm/user/ilyahohryakov">Last.fm</a></li>
                    <li><a href="http://plus.google.com/109622942021659691698">G+</a></li>
                </ul>

                <div id="copyright">© 2012, Ilya Khokhryakov.</div>
            </div>
        </div>
    </body>
</html>