---
title: ~awolf
---
.horizontal
  .vertical
    %h1.name Ilya Khokhryakov (also known as awolf)
    %h2.about Ruby / JavaScript developer and Linux fan, desu-desu
    %ul.profiles
      %li.profile
        email:
        %a.profile-link{ :href => 'mailto:awolf@awolf.ru' } awolf@awolf.ru
      %li.profile
        %a.profile-link{ :href => '/blog' } blog
      %li.profile
        %a.profile-link{ :href => 'http://twitter.com/ilyakhokhryakov' } twitter
      %li.profile
        %a.profile-link{ :href => 'http://git.io/awolf' } github
      %li.profile
        %a.profile-link{ :href => 'http://stackoverflow.com/users/1729581/ilya-khokhryakov' } stackoverflow
      %li.profile
        %a.profile-link{ :href => 'http://habrahabr.ru/users/awolf' } habrahabr
